* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas{
    background-color: rgb(0, 213, 255);
    display: block;
    width: 100vw;
    height: 100vh;
}